@import "settings";
@import "foundation";
@import "architecture";
body {
	width: 100%;
	height: 100%;
}
.display-table {
	@media #{$medium-up}{
	  display: table;
	}
}
.display-vertical {
	@media #{$medium-up}{
		display: table-cell;
		vertical-align: middle;
	}
}
.width-style{
	@media #{$small-only} {
		max-width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&.ext{
		@media #{$small-only} {
			max-width: 50%;
		}
	}
	&.title {
		padding-bottom: 10px;
	}
}
#top-chk{
	top: 14px;
	right: 60px;
	position: fixed;
	z-index: 200;
	.checkout{
		color: #ff303b;
		font-size:  0.875rem;
		font-family: BrandonGrotesque-Medium;
		font-weight: bold;
		font-style: normal;
		text-transform: uppercase;
	}
}
h1 {
	color: $white;
	font-family: BrandonGrotesque-Light;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 15px;
	@media #{$small-only} {
		font-size: 1.5rem;
	}
	@media #{$medium-only} {
		font-size: 2.8rem;
		padding-top: 120px;
	}
	@media #{$large-up} {
		font-size: 3.438rem;
		padding-top: 120px;
	}
}
p {
	color: $white;
	font-family: BrandonGrotesque-Light;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 15px;
	line-height: 36px;
	@media #{$small-only} {
		font-size: 1rem;
		line-height: 26px;
		margin-top: 15px;
	}
	@media #{$medium-only} {
		font-size: 1.625rem;
	}
	@media #{$large-up} {
		font-size: 1.625rem;
	}
}
.price-box {
	border-style: solid;
	border-width: 1px;
	font-family: BrandonGrotesque-Medium;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	display: inline-block;
	padding-top: 0.5rem;
	padding-right: 2rem;
	padding-bottom: 0.5rem;
	padding-left: 2rem;
	font-size: 1.25rem;
	border: #000;
	transition: background-color 300ms ease-out;
	margin-top: 40px;
	color: #000 !important;
	background: #fff;
	@media #{$small-only} {
		margin-top: 10px;
	}
}
.button-cta {
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
	font-family: BrandonGrotesque-Medium;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	display: inline-block;
	padding-top: 0.5rem;
	padding-right: 2rem;
	padding-bottom: 0.5rem;
	padding-left: 2rem;
	font-size: 1.25rem;
	border: none;
	transition: background-color 300ms ease-out;
	margin-top: 40px;
	color: $white !important;
	@media #{$small-only} {
		margin-top: 10px;
	}
	&.heart {
		background: #f85437;
		&:hover {
			background: #e34d33;
			color: $white;
		}
	}
	&.maze {
		background: #e71c24;
		&:hover {
			background: #ce1a21;
			color: $white;
		}
	}
	&.paradise {
		background: #2b7cd6;
		&:hover {
			background: #2468b3;
			color: $white;
		}
	}
	&.deuces {
		background: #6026aa;
		&:hover {
			background: #4d1e89;
			color: $white;
		}
	}
	&.france {
		background: #ee275c;
		&:hover {
			background: #ce2250;
			color: $white;
		}
	}
	&.birthday {
		background: #0040de;
		&:hover {
			background: #0132aa;
			color: $white;
		}
	}
	&.dna {
		background: #4d9eb3;
		&:hover {
			background: #3d8091;
			color: $white;
		}
	}
	&.habitat67 {
		background: #d0a200;
		&:hover {
			background: #af8801;
			color: $white;
		}
	}
	&.biosphere {
		background: #dd2e33;
		&:hover {
			background: #c0292d;
			color: $white;
		}
	}
	&.quotidien {
		background: #00baf0;
		&:hover {
			background: #019cc9;
			color: $white;
		}
	}
}
.text-style{
	@media #{$small-only} {
		text-align: center;
	}
	@media #{$medium-only} {
		text-align: left;
	}
	@media #{$large-up} {
		text-align: left;
	}
}
#holiday{
	top: 45px;
	position: fixed;
	background: #ff303b;
	width: 100%;
	z-index: 300;
	p {
		color: #fff;
		font-family: BrandonGrotesque-Light;
		font-weight: normal;
		font-style: normal;
		font-size: 1rem;
		text-transform: uppercase;
		margin:5px auto;
		strong{
			font-family: BrandonGrotesque-Medium;
			font-weight: bold;
		}
	}
}
/* -----------------------------------------
   main-nav
----------------------------------------- */
#main-nav.contain-to-grid{
	top: 0;
	position: fixed;
	z-index: 100;
	background: #212021;
	@media #{$medium-up} {
    height: 46px;
  }
		.top-bar{
			background: #212021;
			max-width: 70rem;
			@media #{$medium-up} {
      	height: 46px;
    	}
    	.checkout{
				color: #ff303b;
				font-size:  0.875rem;
				font-family: BrandonGrotesque-Medium;
				font-weight: bold;
				font-style: normal;
				text-transform: uppercase;
			}
			.no-bg{background:none;}
    	.name {
    		padding-top: 7px;
    		padding-right: 18px;
    		@media #{$small-only} {
					padding-left: 10px;
				}
    	}
			&.expanded{
				.title-area{
					background: #212021;
				}
			}
			.toggle-topbar {
				&.menu-icon a span::after {
					box-shadow: 0 0px 0 1px #fff, 0 7px 0 1px #fff, 0 14px 0 1px #fff;
					width: 20px;
				}
				&.menu-icon a::after {
				  box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
				}
			}

			.top-bar-section { 
				li{
					@media #{$medium-up} {
				    height: 46px;
				  }
				  a{
				  	@media #{$medium-up} {
					    height: 46px;
					  }
				  }
					&.share {
						background: #212021;
						span {
							color: #fff;
							font-family: BrandonGrotesque-LightItalic;
							font-weight: normal;
							font-style: normal;
							font-size: 1rem;
							padding-left: 10px;
							padding-right: 10px;
							@media #{$small-only} {
				      	padding-left: 0px;
				    	}
						}
					}
					&.mod {
						margin-left: 15px;
						a{
							padding: 0;
						}
					}
					&#bag{
						background: #212021;
						font-family: BrandonGrotesque-Light;
						font-weight: normal;
						font-style: normal;
						font-size: 1.125rem;
						color: #fff;
							span.count {
								color: #fff;
								font-family: BrandonGrotesque-Medium;
							}
					}
					&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6){
					 a{
							padding-right: 3px;
							padding-left: 3px;
						}
					}
				}
				img.pad{
					@media #{$medium-up} {
		      	padding-top: 12px;;
		    	}
				}
				ul li > a {
					width: 100%;
					color: #fff;
					font-family: BrandonGrotesque-Light;
					font-weight: normal;
					font-style: normal;
					font-size: 1rem;
					&:hover{
						color: #eee;
					}

				}

				li:not(.has-form) a:not(.button){
					background: #212021;
				}
			}
		}

}
/* -----------------------------------------
  hero
----------------------------------------- */
#hero {
	width: 100%;
	img#logo{
		@media #{$small-only} {
			max-width: 15%;
		}
		@media #{$medium-up}{
			max-width: 18%;
		}
	}
	@media #{$small-only} {
		height: 393px;
		background: url("../img/bg/mob/panels_01.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 120px 0 10px 0;
	}
	@media #{$medium-up} {
		height: 868px;
		background: url("../img/bg/panels_01.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 80px 0;
	}
	ul {
		text-align: center;
		margin: 30px auto 0 auto;
		float: none;
		@media #{$small-only}{
			display: inline-block !important;
		}
		li{
			color: #fff;
			font-family: BrandonGrotesque-Light;
			font-weight: normal;
			font-style: normal;
			font-size: 1rem;
			&:nth-child(1){
				margin-left: 0;
			}
			&:nth-child(2){
				padding-top: 5px;
			}
		}
	}
}
/* -----------------------------------------
  follow-your-heart
----------------------------------------- */
#follow-your-heart{
	width: 100%;
	@media #{$small-only} {
		height: 685px;
		background: url("../img/bg/mob/panels_02.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 345px 0 10px 0;
	}
	@media #{$medium-up} {
		height: 737px;
		background: url("../img/bg/panels_02.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 80px 0;
	}
}
/* -----------------------------------------
  in-the-maze
----------------------------------------- */
#in-the-maze {
	width: 100%;
	@media #{$small-only} {
		height: 756px;
		background: url("../img/bg/mob/panels_03.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 396px 0 10px 0;
	}
	@media #{$medium-up} {
		height: 814px;
		background: url("../img/bg/panels_03.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 80px 0;
	}
}
/* -----------------------------------------
  paradise
----------------------------------------- */
#paradise {
	width: 100%;
	@media #{$small-only} {
		height: 680px;
		background: url("../img/bg/mob/panels_04.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 328px 0 10px 0;
	}
	@media #{$medium-up} {
		height: 783px;
		background: url("../img/bg/panels_04.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 80px 0;
	}
}
/* -----------------------------------------
  deuce-of-spades
----------------------------------------- */
#deuce-of-spades {
	width: 100%;
	@media #{$small-only} {
		height: 661px;
		background: url("../img/bg/mob/panels_05.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 328px 0 10px 0;
	}
	@media #{$medium-up} {
		height: 637px;
		background: url("../img/bg/panels_05.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 80px 0;
	}
}
/* -----------------------------------------
  le-tour-de-france
----------------------------------------- */
#le-tour-de-france {
	width: 100%;
	@media #{$small-only} {
		height: 823px;
		background: url("../img/bg/mob/panels_06.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 475px 0 10px 0;
	}
	@media #{$medium-up} {
		height: 829px;
		background: url("../img/bg/panels_06.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 80px 0;
	}
}
/* -----------------------------------------
  happy-birthday
----------------------------------------- */
#happy-birthday {
	width: 100%;
	@media #{$small-only} {
		height: 842px;
		background: url("../img/bg/mob/panels_07.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 450px 0 10px 0;
	}
	@media #{$medium-up} {
		height: 904px;
		background: url("../img/bg/panels_07.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 80px 0;
	}
}
/* -----------------------------------------
  dna
----------------------------------------- */
#dna {
	width: 100%;
	@media #{$small-only} {
		height: 706px;
		background: url("../img/bg/mob/panels_08.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 350px 0 10px 0;
	}
	@media #{$medium-up} {
		height: 693px;
		background: url("../img/bg/panels_08.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 80px 0;
	}
}
/* -----------------------------------------
  habitat-67
----------------------------------------- */
#habitat-67 {
	width: 100%;
	@media #{$small-only} {
		height: 784px;
		background: url("../img/bg/mob/panels_09.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 420px 0 10px 0;
	}
	@media #{$medium-up} {
		height: 815px;
		background: url("../img/bg/panels_09.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 80px 0;
	}
}
/* -----------------------------------------
  biosphere
----------------------------------------- */
#biosphere {
	width: 100%;
	@media #{$small-only} {
		height: 851px;
		background: url("../img/bg/mob/panels_10.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 470px 0 10px 0;
	}
	@media #{$medium-up} {
		height: 857px;
		background: url("../img/bg/panels_10.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 80px 0;
	}
}
/* -----------------------------------------
  le-quotidien
----------------------------------------- */
#le-quotidien {
	width: 100%;
	@media #{$small-only} {
		height: 737px;
		background: url("../img/bg/mob/panels_11.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 320px 0 10px 0;
	}
	@media #{$medium-up} {
		height: 877px;
		background: url("../img/bg/panels_11.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding: 80px 0;
	}
}
/* -----------------------------------------
  footer
----------------------------------------- */
#footer {
	background: #212021;
	min-height: 50px;
	padding: 20px 0;

	ul {
		margin-bottom: 0;
		&#william {
			@media #{$medium-only} {
				float: none !important;
				display: inline-block !important;
			}
			li{
				@media #{$small-only}{
					display: block;
					float: center;
					text-align: center;
				}
				img{
					@media #{$small-only}{	
						display: block;
						margin-left: auto;
						margin-right: auto;
					}
				}
				&:nth-child(2){
					color: #fff;
					font-family: BrandonGrotesque-Light;
					font-weight: normal;
					font-style: normal;
					text-transform: uppercase;
					font-size: 0.875rem;
					@media #{$small-only}{
						padding: 10px 0;
					}
					@media #{$medium-up}{
						padding-top: 30px;
					}
				}
				&:nth-child(3){
					@media #{$small-only}{
						padding: 10px 0;
					}
					@media #{$medium-up}{
						padding-top: 22px;
					}
				}
				&:nth-child(4){
					a {
						color: #9c9c9c;
						font-family: BrandonGrotesque-Light;
						font-weight: normal;
						font-style: normal;
						font-size: 1.25rem;
						@media #{$small-only}{
							padding: 10px 0;
						}
						@media #{$medium-up}{
							padding-top: 27px;
						}
					}
					
				}
			}
		}
		&#made {
			padding-top: 25px;
			@media #{$small-only} {
				float: none !important;
				display: inline-block !important;
			}
			@media #{$medium-only} {
				float: none !important;
				display: inline-block !important;
			}
			li{
				&:nth-child(1) {
					img {
						max-width: 80%;
					}
				}
				&:nth-child(2){
					color: #fff;
					font-family: BrandonGrotesque-Light;
					font-weight: normal;
					font-style: normal;
					font-size: 1.25rem;
					margin-left: 5px;
					@media #{$small-only} {
						float: none !important;
						display: inline-block !important;
						font-size: 1rem;
					}
				}
				&:nth-child(3){
					padding-right: 3px;
					padding-left: 3px;
					@media #{$small-only} {
						display: none !important;
					}
				}
				&:nth-child(4), &:nth-child(5), &:nth-child(6){
					margin-left: 0;
					padding-right: 3px;
					padding-left: 3px;
					@media #{$small-only} {
						display: none !important;
					}
				}
				a{
					img {
					  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
					  filter: alpha(opacity=50);
					  -moz-opacity: 0.5;
					  -khtml-opacity: 0.5;
					  opacity: 0.5;
					  &:hover{
				  		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
						  filter: alpha(opacity=100);
						  -moz-opacity: 1;
						  -khtml-opacity: 1;
						  opacity: 1;
					  }
					}
				}
			}
		}
		&#social {
			padding-top: 25px;
			float: none;
			@media #{$small-only} {
				display: inline-block !important;
			}
			li{
				&:nth-child(1){
					padding-right: 3px;
					padding-left: 3px;
				}
				&:nth-child(2), &:nth-child(3), &:nth-child(4){
					margin-left: 0;
					padding-right: 3px;
					padding-left: 3px;
				}
				a{
					img {
					  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
					  filter: alpha(opacity=50);
					  -moz-opacity: 0.5;
					  -khtml-opacity: 0.5;
					  opacity: 0.5;
					  &:hover{
				  		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
						  filter: alpha(opacity=100);
						  -moz-opacity: 1;
						  -khtml-opacity: 1;
						  opacity: 1;
					  }
					}
				}
			}
		}
	}
}