/* line 5, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* -----------------------------------------
  USEFUL MISC HTML CLASSES
----------------------------------------- */
/* line 7, ../scss/architecture.scss */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 12, ../scss/architecture.scss */
.alignright {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

/* line 17, ../scss/architecture.scss */
.fade {
  opacity: 1;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 22, ../scss/architecture.scss */
.fade:hover {
  opacity: 0.5;
}

/* line 27, ../scss/architecture.scss */
.text-center {
  text-align: center;
}

/* line 28, ../scss/architecture.scss */
.text-right {
  text-align: right;
}

/* line 29, ../scss/architecture.scss */
.text-left {
  text-align: left;
}

/* line 30, ../scss/architecture.scss */
.text-indent {
  padding-left: 25px;
}

/* line 31, ../scss/architecture.scss */
.pad-row-sm {
  padding-top: 20px;
}

/* line 32, ../scss/architecture.scss */
.pad-row {
  padding-top: 40px;
}

/* line 33, ../scss/architecture.scss */
.pad-row-big {
  padding-top: 65px;
}

/* line 34, ../scss/architecture.scss */
.pad-row-extra {
  padding-top: 135px;
}

/* line 35, ../scss/architecture.scss */
.pad-row-extra-big {
  padding-top: 160px;
}

/* line 36, ../scss/architecture.scss */
.pad-row-extra-bigger {
  padding-top: 180px;
}

/* line 37, ../scss/architecture.scss */
.pad-row-small {
  padding-top: 20px;
}

/* line 38, ../scss/architecture.scss */
.pad-row-top-bot {
  padding: 20px 0 60px 0;
}

/* line 39, ../scss/architecture.scss */
.pad-row-top-bot-big {
  padding: 60px 0 60px 0;
}

/* line 40, ../scss/architecture.scss */
.full-row {
  max-width: 100% !important;
  margin: 0 !important;
}

/* line 41, ../scss/architecture.scss */
.extend-row {
  max-width: 80% !important;
}

/* line 42, ../scss/architecture.scss */
.size-row {
  max-width: 95% !important;
}

/* line 43, ../scss/architecture.scss */
.pad-bottom {
  padding-bottom: 180px;
}

/* line 44, ../scss/architecture.scss */
.pad-bottom-sm {
  padding-bottom: 60px;
}

/* line 45, ../scss/architecture.scss */
.no-pad {
  padding: 0;
}

@font-face {
  font-family: 'BrandonGrotesque-Medium';
  src: url("webfonts/2CB844_4_0.eot");
  src: url("webfonts/2CB844_4_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2CB844_4_0.woff2") format("woff2"), url("../webfonts/2CB844_4_0.woff") format("woff"), url("../webfonts/2CB844_4_0.ttf") format("truetype");
}
@font-face {
  font-family: 'BrandonGrotesque-LightItalic';
  src: url("webfonts/2CB844_6_0.eot");
  src: url("webfonts/2CB844_6_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2CB844_6_0.woff2") format("woff2"), url("../webfonts/2CB844_6_0.woff") format("woff"), url("../webfonts/2CB844_6_0.ttf") format("truetype");
}
@font-face {
  font-family: 'BrandonGrotesque-Light';
  src: url("../webfonts/2CB844_7_0.eot");
  src: url("../webfonts/2CB844_7_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2CB844_7_0.woff2") format("woff2"), url("../webfonts/2CB844_7_0.woff") format("woff"), url("../webfonts/2CB844_7_0.ttf") format("truetype");
}
/* -----------------------------------------
   MIXINS
----------------------------------------- */
/* line 86, ../scss/architecture.scss */
a {
  color: #282828;
  text-decoration: none;
}
/* line 18, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #282828;
}
/* line 21, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #282828;
}
/* line 24, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #282828;
}
/* line 27, ../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #282828;
}
